<h1>{{title}}</h1>
<br>

<p>Je hebt morgen {{day}}/{{month}} les van {{min}} tot {{max}}</p>
<p>Je wekker is gezet op {{wekker}}<p>
<br>
<p>Vandaag</p>
<p>De zon komt op rond {{vandaagOp}}</p>
<p>en gaat onder rond {{vandaagOn}}</p>
<br>
<p>Gegevens verkregen op {{dateCreation}}</p>
