<h1>{{title}}</h1>
<p>Aantal keren dat deze pagina is herladen = {{Reload}}</p>
<br>
<p>Je hebt les van {{min}} tot {{max}}</p>
<p>Je wekker is gezet op {{wekker}}<p>
<br>
<p>Vandaag</p>
<p>De zon komt op rond {{vandaagOp}}</p>
<p>en gaat onder rond {{vandaagOn}}</p>
<br>
<p>Morgen</p>
<p>De zon komt op rond {{morgenOp}}</p>
<p>en gaat onder rond {{morgenOn}}</p>
